{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
    <div class="h-full w-11/12 rounded-md bg-gray-300">
        <h3>Login</h3>
        <form class="" method="post">
    
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"\>

            <div class="form-group">
                {{ render_field (form.username, class='form-control', placeholder='username') }}
            </div>
        
            <div class="form-group">
                {{ render_field (form.password, class='form-control', placeholder='password') }}
            </div>

            <button type="submit" class="bg-pink-500 rounded-md p-4 my-4">Login</button>

        </form>


    
    </div>
{%  endblock %}