{%  extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{%  block container %}
    <div class="flex justify-center items-center">
        <div class="flex flex-col justify-center h-full w-5/12 rounded-md bg-gray-50 border-2 border-pink-500 p-3">
            <h3 class="mx-auto font-sans text-xl font-extralight my-4">CREAR SESION</h3>
            <form class="w-80 flex flex-col justify-center mx-auto space-y-8" method="post">
    
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"\>
    
                <div class="form-group h-8 w-full border-2 border-pink-500 rounded-md space-y-2 px-2">
                {{ render_field (form.username, class='form-control', placeholder='username') }}
                </div>
            
                <div class="form-group form-group h-8 w-full border-2 border-pink-500 rounded-md space-y-2 px-2">
                    {{ render_field (form.email, class='form-control', placeholder='email') }}
                </div>
    
                <div class="form-group form-group h-8 w-full border-2 border-pink-500 rounded-md space-y-2 px-2">
                    {{ render_field (form.password, class='form-control', placeholder='password') }}
                </div>
            
                <div class="form-group form-group h-8 w-full border-2 border-pink-500 rounded-md space-y-2 px-2">
                    {{ render_field (form.confirm_password, class='form-control', placeholder='confirm password') }}
                </div>
    
                <div class="form-check">
                    {{ form. accept(class_='form-check-input') }}
                    <label for="" class="form-check-bale">Acepto los términos y condiciones.</label>
                </div>
    
                <button type="submit" class="h-12 w-2/3 mx-auto bg-pink-500 text-xl text-gray-50 font-bold rounded-md p-3 my-4 hover:bg-opacity-80">REGISTRAR</button>
    
            </form>
        </div>
    </div>

{%  endblock %}

