{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
<div>
    <h3>Mis Recursos</h3>
    <a href="{{url_for('.new_task')}}">Nuevo recurso</a>
</div>


<table>
    <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Comentario</th>
            <th scope="col"></th>
        </tr>
    </thead>
    
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.comment}}</td>
            <td>
                <a href="{{url_for('.edit_task', task_id=task.id)}}"><ion-icon name="create"></ion-icon></a>
                <a href="{{url_for('.delete_task', task_id=task.id)}}"><ion-icon name="trash"></ion-icon></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav>
    <ul class="pagination">
        {% if pagination.has_prev %}
            <li class="page-item">
                <a href="{{url_for('.tasks', page=page-1)}}">Anterior</a>
            </li>
        {% endif %}

        {% if pagination.has_next %}
            <li class="page-item">
                <a href="{{url_for('.tasks', page=page+1)}}">Siguiente</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

{% block footer %}
   
{% endblock %}
