{% extends 'layout.html' %}


{% block container %}
<div class="mx-auto w-10/12 h-full py-4 rounded-lg shadow-lg bg-gray-100 mb-16" >
    <div class="flex justify-center justify-around flex-wrap space-y-8">

        <div class="bg-gray-50 w-10/12 h-full px-2 py-4 rounded-md shadow-md">
            <a href="">
                <div class="flex items-center justify-center h-40 border-4 border-pink-500 rounded-md">
                    <h3 class="text-center text-3xl font-sans font-base font-bold">Titulo de prueba</h3>
                </div>
            </a>
            <div class="h-full space-y-4">
                <p class="my-3">Titulo 2</p>
                <p>Fecha:</p>
                <a href="">Ver más...</a>
            </div>
        </div>    
        <div class="bg-gray-50 w-10/12 h-full px-2 py-4 rounded-md shadow-md">
            <a href="">
                <div class="flex items-center justify-center h-40 border-4 border-pink-500 rounded-md">
                    <h3 class="text-center text-3xl font-sans font-base font-bold">Titulo de prueba</h3>
                </div>
            </a>
            <div class="h-full space-y-4">
                <p class="my-3">Titulo 2</p>
                <p>Fecha:</p>
                <a href="">Ver más...</a>
            </div>
        </div>    
        <div class="bg-gray-50 w-10/12 h-full px-2 py-4 rounded-md shadow-md">
            <a href="">
                <div class="flex items-center justify-center h-40 border-4 border-pink-500 rounded-md ">
                    <h3 class="text-center text-3xl font-sans font-base font-bold">Titulo de prueba</h3>
                </div>
            </a>
            <div class="h-full space-y-4">
                <p class="my-3">Titulo 2</p>
                <p>Fecha:</p>
                <a href="">Ver más...</a>
            </div>
        </div>    
        <div class="bg-gray-50 w-10/12 h-full px-2 py-4 rounded-md shadow-md">
            <a href="">
                <div class="flex items-center justify-center h-40 border-4 border-pink-500 rounded-md">
                    <h3 class="text-center text-3xl font-sans font-base font-bold">Titulo de prueba</h3>
                </div>
            </a>
            <div class="h-full space-y-4">
                <p class="my-3">Titulo 2</p>
                <p>Fecha:</p>
                <a href="">Ver más...</a>
            </div>
        </div>    
        <div class="bg-gray-50 w-10/12 h-full px-2 py-4 rounded-md shadow-md">
            <a href="">
                <div class="flex items-center justify-center h-40 border-4 border-pink-500 rounded-md">
                    <h3 class="text-center text-3xl font-sans font-base font-bold">Titulo de prueba</h3>
                </div>
            </a>
            <div class="h-full space-y-4">
                <p class="my-3">Titulo 2</p>
                <p>Fecha:</p>
                <a href="">Ver más...</a>
            </div>
        </div> 
        
        <button type="submit" class="h-12 w-2/3 mx-auto bg-pink-500 text-xl text-gray-50 font-bold rounded-md p-3 my-4 hover:bg-opacity-80">VER MAS</button>
          
    </div>
    
</div>
{% endblock %}