{% extends 'layout.html' %}

 
{% block container %}

    <div class="flex flex-col justify-center m-6" >
        <img class="w-4/5 h-96 mt-10 mb-6 mx-auto" src="{{ url_for('static', filename='images/map.svg') }}" alt="">

        <h1 class="font-sans text-6xl text-gray-700 font-extralight mx-auto mt-6">CODER EN CONSTRUCCION</h1>
        <p class="mx-auto bg-gray-100 h-full w-10/12 font-sans font-thin text-4xl text-gray-700 text-center px-4 py-8 rounded-md shadow-lg my-80" >Aquí encontrarás recursos que he usado para despejar dudas que tambien podrían ser las tuyas..</p>
    </div>

    

{% endblock %}




