{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block navbar %}
        
{% endblock %}


{% block content%}
    <div class="container mx-auto p-4">

        <div class="h-full w-11/12">
            {% with messages = get_flashed_messages(with_categories=True) %}

            {% if messages %}

                {% for categories, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}                                          <!--No esta reconociendo el else (issue)-->
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif%}

                {% endfor %}
            
            
            {% endif %}

            {% endwith %}
        </div>
        
        {% block container %}
        
        {% endblock %}

    </div>
{% endblock %}


{% block footer %}
    <footer class="bg-gray-200 rounded-md h-12 w-full" >
        
    </footer>
{% endblock %}
